@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



*{
    text-decoration: none;
    box-sizing: border-box;
}




:root {

    --bg-primaire : #f3f2f3ec;
    --bg-icone  : #F6F6F6;
    --color-primaire  :  rgb(76, 174, 212);
    --color-indigo  :  #8A33FD;
    --color-etoile  :  #EDD146;
    --bg-footer :  #3C4242;


}

body::-webkit-scrollbar {
    color: #0d0e0d;
    width: 5px;
 }
 
 body::-webkit-scrollbar-track {
     background-color: #262928;
    
 }
 
 body::-webkit-scrollbar-thumb {
    background-color:var(--color-indigo);
    width: 5px;
    border-radius: 5px;
 }
 


body {
    background-color: var(--bg-primaire);
}

header {
    font-family: "Urbanist", sans-serif; 
    background-color: white;
    height: 8vh;
    padding: 5px 5% ;
   
}



header .logo {
    width: 80px;
    object-fit: cover;
}



header .nav a  {
    color: rgba(0, 0, 0, 0.651);
    font-weight: 500;

}

header .nav .home {
    color: black;
}


header .nav a:hover  {
    color: var(--color-primaire);

}


header .recherche {
    background-color: var(--bg-primaire);
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .recherche img {
    width: 15px;
}
header .recherche input  {
  
    border: none;
    background-color: transparent;
    outline: none;
}

header .recherche input::placeholder {
    font-size: 12px;
}


header .profil .profil_icone {

    background-color: var(--bg-primaire);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s ease;

}

header .profil .profil_icone:hover {

   cursor: pointer;
   background-color: var(--color-primaire);

}

header .profil .profil_icone img {
    width: 15px;
}

header .profil .profil_icone:hover img {
   filter: white;
}




/* section */


/* section {
    width: 100%;
    padding:  5% ;
    
} */

/* hero section  */



.hero {
    height: 92vh;
    width: 100%;
    /* font-family: "Urbanist", sans-serif; */
    font-family: "Core Sans c", sans-serif;
}

.carousel-item:nth-child(1) .post1 {
    background: url(/Ressources/images/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-item:nth-child(2) .post1 {
    background: url(/Ressources/images/hero_bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.post1 {
    
  
    height: 92vh;
    padding:10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: start;
    color: white;
}

.hero .post1 h1 {
   font-weight: bold;
   font-size: 72px;
}
.hero .post1 h5 ,
 .hero .post1 h5 {
   font-weight: 200;
   font-size: 32px;
}

.hero .hero_btn {
    width: 250;
    height: 61px;
    padding: 10px 40px ;
    border: none;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.2s ease;
    
    
}

.hero .hero_btn:hover {
  
    background-color: transparent;
    border: 2px solid white;
    color: white;

    
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}



.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #250909;
    text-align: center;
    background: 0 0;
    filter: var(--bs-carousel-control-icon-filter);
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex
;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}



.carousel-indicators [data-bs-target] {

    height: 10px;

    margin-right: 1px;
    margin-left: 1px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    /* opacity: .5; */
    transition: opacity .6s ease;
    
}



/* section  */


section {
    font-family: "Core Sans c", sans-serif;
}



/* section 1  carte_top bg-danger*/



.carte_top {
    /* background-color: antiquewhite; */
    justify-content: space-between;
}
.carte_top_item {
    /* background-color: antiquewhite; */
    height: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(34, 34, 34, 0.226);
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    
    color: white;


}


.carte_top .carte_top_item:nth-child(1) {
    background: url(/Ressources/images/High\ Coziness.jpg);
    background-size: cover;
   

}


.carte_top .carte_top_item:nth-child(2) {
    background: url(/Ressources/images/Breezy\ summer.jpg);
    background-size: cover;

}



.carte_top_item h5{
    font-size: 18px;
    font-weight: 500;

}


.carte_top_item h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;

}
.carte_top_item h4{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;

}

.carte_top_item h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
    cursor: pointer;
}



/* section 2 new arrival  */


.new_arrival_top {
   
    display: flex ;
    gap: 10px;
    align-items: center;
    
    
    
   
}

.new_arrival_top h1 {

    font-size: 30px;
    font-weight: 600;
    margin: 0;
    
}
.new_arrival_top span {
  background-color: var(--color-indigo);
  color: transparent;
  width: 5px;
  /* height: 100%; */
  border-top-right-radius:5px ;
  border-top-left-radius:5px ;
  border-bottom-left-radius:5px ;
  border-bottom-right-radius:5px ;

}




.new_arrival_content {
    
    /* background-color: rgb(29, 37, 37); */
    margin-top: 20px;
    position: relative;
   
    
}

.new_arrival_content .row {

}


.new_arrival_box {
    /* background-color: aqua; */
    
}



.slider-container {
   
    overflow: hidden;
  }
  .slider-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  .slider-card {
    flex: 0 0 25%; 
    padding: 10px 20px;
    box-sizing: border-box;

  
    
  }
  .slider-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 3px 2px 3px rgba(156, 154, 154, 0.322);
  }
  .control-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .control-left {
    left: -5%;
  }
  .control-right {
    right: -5%;
  }


  .slider-card  h5 {
    
    font-size: 16px;
    margin-top: 30px;
    font-weight: 600;
    /* background-color: aqua; */
  }






/* section 3 */


.big_saving {

    justify-content: space-between;


}

.big_saving_box {


height: 350px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;



}


.big_saving_box_item{
    width: 100%;
    height: 100%;
    background-color: #250909;
    border-radius: 20px;
   
}

.big_saving_box:nth-child(1) .big_saving_box_item {
   background: url(/Ressources/images/big_saving_zone_img1.png);
   background-repeat: no-repeat;
   background-size: cover;





}
.big_saving_box:nth-child(2) .big_saving_box_item {
   background: url(/Ressources/images/big_saving_zone_img2.png);
   background-repeat: no-repeat;
   background-size: cover;

   }

.big_saving_box:nth-child(3) .big_saving_box_item {
   background: url(/Ressources/images/big_saving_zone_img3.png);
   background-repeat: no-repeat;
   background-size: cover;



}
.big_saving:nth-child(2)  .big_saving_box:nth-child(1) .big_saving_box_item {
   background: url(/Ressources/images/big_saving_zone_img4.png);
   background-repeat: no-repeat;
   background-size: cover;



}
.big_saving:nth-child(2)  .big_saving_box:nth-child(2) .big_saving_box_item {
   background: url(/Ressources/images/big_saving_zone_img5.png);
   background-repeat: no-repeat;
   background-size: cover;



}



.big_saving_box_item {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    transition: 0.2s ease;

}

.big_saving_box_item:hover {
    box-shadow: 2px 4px 2px rgba(151, 150, 150, 0.397);
    cursor: pointer;
}


.big_saving:nth-child(1)  .big_saving_box:nth-child(1) .big_saving_box_item  {
    align-items: start;

   
}




.big_saving:nth-child(1)  .big_saving_box:nth-child(1) .big_saving_box_item  .Arrow {
    margin-right:inherit ;
    margin-left: 50px;
   
}




.big_saving_box_item h1 {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    /* color: black; */
}

.big_saving_box_item p {
   font-size: 14px;
   /* color: #5e5757; */
}

.big_saving_box_item h2 {
    font-size: 16px;
    font-weight: 600;
}

.big_saving_box_item .Arrow {
   width: 18px;
   margin-right: 40px;
    
}


.big_saving_item_btn {
    border: 2px solid black;
    font-size: 12px;
    padding: 5px 20px;
    outline: none;
    background-color: transparent;
    transition: 0.3s ease;
}


.big_saving_item_btn:hover {
    background-color: white;
    border: 2px solid transparent;
}


/* --------------section  4 ------------------ */




.we_made {

    display: flex;
    height: 80vh;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;



    
}


.we_made_item {

  flex-basis: 50%;
  height: 100%;

}


.we_made_item:nth-child(1) {

    background-color: #8A33FD;
    background: url(/Ressources/images/we_made_droite.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    color: white;
    gap: 30px;


}

.we_made_item:nth-child(1) h1 {
    font-size: 30px;
    width: 80%;
    line-height: 40px;
    font-weight: bold;

}
.we_made_item:nth-child(1) p {
    font-size: 18px;
    width: 80%;
    font-family: 'Causten', Courier, monospace;
    font-weight: 200;


}

.we_made_item:nth-child(1) .we_made_btn {
    width: 30%;
    align-items: start;
    padding: 7px;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
    border: 2px solid transparent;
}

.we_made_item:nth-child(1) .we_made_btn:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
}




.we_made_item:nth-child(2)  {
 background-color: aliceblue;
 background: url(/Ressources/images/we_made_gauche.png);
 background-size: cover;
 background-repeat: no-repeat;

}


/* --------  section 5 ------------ */


.cat_for_man {

   
    row-gap: 10px;
    justify-content: space-between;


    
}

.cat_for_man_item {

    height: 450px;
    padding: 10px;
    

   
    
}

.for_man_content {
   
    height: 100%;
    width: 100%;
}



.for_man_content img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.2s ease-in;

}




.for_man_descript {
    /* background-color: #250909; */
    height: 20%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cat_for_man_descript_left h1{

 font-size: 14px;
 font-weight: bold;
}

.cat_for_man_descript_left p{

 font-size: 12px;
 transition: 0.3s ease;
 
}

.cat_for_man_descript_right {
 transition: 0.3s ease;
}

.for_man_content:hover {
    cursor: pointer;

}

.for_man_content:hover .fa-arrow-right {

    cursor: pointer;
    font-size: 18px;
    color:var(--color-indigo);
    animation: explore 1s infinite;
}

.for_man_content:hover .cat_for_man_descript_left p  {
    color:var(--color-indigo);
}

@keyframes explore {
    0%{
       transform: translateX(-10px)
    };
    50%{
      transform: translateX(0px);
    };
    100%{
      transform: translateX(0px);
    }

}



/* section 7 pub */


.brand_pub {
    background-color: #323232;
    height: 40vh;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.brand_pub h1 {
    font-size: 50px;
    font-weight: bolder;
}
.brand_pub p {
    font-size: 18px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.brand_pub p span {
    color: var(--color-etoile);
}



.brand_pub .sport_icone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 70%;
}

.brand_pub .sport_icone_item {
    background-color: white;
    flex: 1;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
}

.brand_pub .sport_icone_item img {
    width: 70%;
}






















/* section 8 LIMELIGHT */


.price_to_limelight {
    background-color: #d6d6d6;
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 0;
    
}

.price_to_limelight p {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 14px;
    font-family: Causten;
}



/* *section 9 Feedback  */


.feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #8A33FD; */
    gap: 30px;
    overflow-x:scroll ;
    
    
}

.feedback::-webkit-scrollbar {
    color: transparent;
    width: 1px;
    height: 1px;
 }
 
 .feedback::-webkit-scrollbar-track {
     background-color: transparent
    
 }
 
 .feedback::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.027);
    width: 5px;
    border-radius: 5px;
 }
 


.feedback_item{
 /* background-color: aqua; */
 padding: 20px;
 height: 40vh;
 flex-basis: 32%;
 border-radius: 20px;
 border: 2px solid rgba(153, 153, 153, 0.212);
}

.feedback_item .feed_top {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.feedback_item .feed_top img {
    width: 70px;
    height: 50px;
    object-fit: cover;
}




.feedback_item .feed_start {
    /* background-color: yellow; */
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: end;
    gap: 10px;

}



.feed_start .fa-star {
    color: var(--color-etoile);
}

.feed_start .fa-star-half-stroke{
    color: var(--color-etoile);

}




.feedback_item .feed_content h1 {
 font-size: 20px;
 margin-bottom: 20px;
}


.feedback_item .feed_content P {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.658);

}





/* footer */





.home_footer {
    background-color: var(--bg-footer);
    height: 80vh;
    width: 100%;
    font-family: "Urbanist", sans-serif; 
}



.footer_top {
    
    color: white;
}

.footer_top_item {
    


}
.footer_top_item ul{
    
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
 padding: 0;
 gap: 10px;

}

.footer_top h1 {
   font-size: 20px;
}

.footer_top a{

    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    transition: 0.2s ease;

}

.footer_top a:hover {
    color: var(--color-primaire);
}





.home_footer .footer_icone {
    display: flex;
   justify-content: space-between;
    
}


.footer_icone .footer_icone_left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer_icone_left .footer_icone_item{
    background-color: white;
    padding: 10px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    overflow: hidden;

}


.footer_icone_left .footer_icone_item:hover {
    cursor: pointer;
    background-color: var(--color-primaire);
}

.footer_icone_left .footer_icone_item:hover  img {
    filter: invert(1);
    transform: scale(1.2);
}

.footer_icone_left .footer_icone_item img {
    width: 15px;
    height: 15px;
    transition: 0.3s ease;
}



.footer_icone .footer_icone_right {
  
    gap: 15px;
    color: white;
    width: 25%;
  
}

.footer_icone .footer_icone_right h1 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
  
}


.footer_icone_right .footer_download {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_download .download {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px 20px;
    border-radius: 10px;
}


.footer_download .download img {
    width: 25px;
}

.footer_download .download .download_descript {

   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}

.footer_download .download .download_descript p {
 font-size: 12px ;
 font-weight: 100;
 padding: 0;
 margin: 0;

}

.footer_download .download .download_descript h3 {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-weight: 400;
}




.home_footer .footer_detail {
 
    border-top:1px solid rgba(255, 255, 255, 0.384) ;
    border-bottom:1px solid rgba(255, 255, 255, 0.301) ;
}


.home_footer .footer_detail details{

    color: white;
}

.home_footer .footer_detail summary{
    color: white;
    font-size: 18px;

    
}


.custom-details summary::-webkit-details-marker {
    display: none;
  }
  .custom-details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
  }
  
 
  .custom-details summary::after {
    content: "▸"; 
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease;
    font-size: 30px;
  }
  
  
  .custom-details[open] summary::after {
    transform: rotate(90deg); /
  }



.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    align-items: center;
    font-size: 14px;

}






























/* breackpoint  */




@media screen and  (max-width:992px) {


       
    header .nav {
      
        display: none;
    } 
    
}





/* tablete */

@media screen and (max-width: 768px){


    

/* --------------section  4 ------------------ */




.we_made {


    height: 60vh;

    
}


.we_made_item {

  flex-basis: 100%;
  height: 100%;

}


.we_made_item:nth-child(1) {

    background-color: #8A33FD;
    background: url(/Ressources/images/we_made_droite.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    padding-left: 50px;
    color: white;
    gap: 30px;
    width: 100%;


}

.we_made_item:nth-child(1) h1 {
    font-size: 25px;
    width: 80%;
    line-height: 40px;
    font-weight: bold;

}
.we_made_item:nth-child(1) p {
    font-size: 18px;
    width: 80%;
    font-family: 'Causten', Courier, monospace;
    font-weight: 200;


}

.we_made_item:nth-child(1) .we_made_btn {
    width: 35%;
    align-items: start;
    padding: 7px;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
    border: 2px solid transparent;
    font-size: 14px;
}





.we_made_item:nth-child(2)  {
 
    display:none;

}





/* section 7 pub */


.brand_pub {
    background-color: #323232;
    height: 40vh;
    width: 100%;
    border-radius: 20px;
    gap: 10px;
    color: white;
}

.brand_pub h1 {
    font-size: 40px;
    font-weight: bolder;
}
.brand_pub p {
    font-size: 16px;
   
}

.brand_pub p span {
    color: var(--color-etoile);
}



.brand_pub .sport_icone {
   
    gap: 10px;
    width: 80%;
}

.brand_pub .sport_icone_item {
    background-color: white;
    flex: 1;
    height: 70px;
    border-radius: 10px;
    padding: 10px;
}

.brand_pub .sport_icone_item img {
    width: 100%;
}






/* footer */





.home_footer {
    background-color: var(--bg-footer);
    height: auto;
    width: 100%;
    font-family: "Urbanist", sans-serif; 
}



.footer_top {
    
    color: white;
}

.footer_top_item {
    


}
.footer_top_item ul{
    
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
 padding: 0;
 gap: 10px;

}

.footer_top h1 {
   font-size: 20px;
}

.footer_top a{

    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    transition: 0.2s ease;

}

.footer_top a:hover {
    color: var(--color-primaire);
}





.home_footer .footer_icone {
    display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   gap: 20px;
    
}


.footer_icone .footer_icone_left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer_icone_left .footer_icone_item{
    background-color: white;
    padding: 10px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    overflow: hidden;

}


.footer_icone_left .footer_icone_item:hover {
    cursor: pointer;
    background-color: var(--color-primaire);
}

.footer_icone_left .footer_icone_item:hover  img {
    filter: invert(1);
    transform: scale(1.2);
}

.footer_icone_left .footer_icone_item img {
    width: 15px;
    height: 15px;
    transition: 0.3s ease;
}



.footer_icone .footer_icone_right {
    text-align: center;
    gap: 15px;
    color: white;
    width: 100%;
  
}

.footer_icone .footer_icone_right h1 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
  
}


.footer_icone_right .footer_download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.footer_download .download {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px 20px;
    border-radius: 10px;
}


.footer_download .download img {
    width: 25px;
}

.footer_download .download .download_descript {

   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}

.footer_download .download .download_descript p {
 font-size: 12px ;
 font-weight: 100;
 padding: 0;
 margin: 0;

}

.footer_download .download .download_descript h3 {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-weight: 400;
}




.home_footer .footer_detail {
 
    border-top:1px solid rgba(255, 255, 255, 0.384) ;
    border-bottom:1px solid rgba(255, 255, 255, 0.301) ;
}


.home_footer .footer_detail details{

    color: white;
}

.home_footer .footer_detail summary{
    color: white;
    font-size: 18px;

    
}


.custom-details summary::-webkit-details-marker {
    display: none;
  }
  .custom-details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
  }
  
 
  .custom-details summary::after {
    content: "▸"; 
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease;
    font-size: 30px;
  }
  
  
  .custom-details[open] summary::after {
    transform: rotate(90deg); /
  }



.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    align-items: center;
    font-size: 14px;

}








 
 
}





/* mobile  */


@media screen and  (max-width:576px) {


    /* header */


   header .logo {
        width: 60px;
    }



    /* hero  */



    
.post1 {
    
  
    height: 92vh;
    padding:10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: start;
    color: white;
}

.hero .post1 h1 {
   font-weight: bold;
   font-size: 42px;
}
.hero .post1 h5 ,
 .hero .post1 h5 {
   font-weight: 200;
   font-size: 25px;
}

.hero .hero_btn {
    width: 250;
    height: 45px;
    padding: 5px 40px ;
    border: none;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.2s ease;
    
    
}




.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}



.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #250909;
    text-align: center;
    background: 0 0;
    filter: var(--bs-carousel-control-icon-filter);
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex
;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}



.carousel-indicators [data-bs-target] {

    height: 5px;
    
    margin-right: 1px;
    margin-left: 1px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    /* opacity: .5; */
    transition: opacity .6s ease;
    
}









section {
    padding: 0 2%;
}


/* section 1 */



.carte_top_item {
    /* background-color: antiquewhite; */
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(34, 34, 34, 0.226);
    padding: 10px 20px;
  


}





.carte_top_item h5{
    font-size: 15px;
    font-weight: 500;

}


.carte_top_item h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;

}
.carte_top_item h4{
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 15px;

}

.carte_top_item h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
    cursor: pointer;
}


/* section 2 */



.new_arrival_top {
   
    display: flex ;
    gap: 10px;
    align-items: center;
    
    
    
   
}

.new_arrival_top h1 {

    font-size: 20px;
    font-weight: 600;
    margin: 0;
    
}




.new_arrival_content {
    
    /* background-color: rgb(29, 37, 37); */
    margin-top: 5px;
   
    
}





  
  .slider-card {
    flex: 0 0 50%; 
    padding: 10px;
    box-sizing: border-box;
    /* background-color: #8A33FD; */
    
  }
  .slider-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 3px 2px 3px rgba(156, 154, 154, 0.322);
  }
  .control-btn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.808);
    border: none;
    padding: 10px;
    font-size: 20px;
    
    cursor: pointer;
  }
  .control-left {
    left: 2%;
  }
  .control-right {
    right: 2%;
  }


  .slider-card  h5 {
    
    font-size: 12px;
    margin-top: 15px;
    font-weight: 600;
    /* background-color: aqua; */
  }





  /* section 3 */



.big_saving_box {

/* background-color: bisque; */
height: 250px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;



}


.big_saving_box_item{
    width: 100%;
    height: 100%;
    background-color: #250909;
    border-radius: 20px;
   
}






.big_saving_box_item {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

}




.big_saving_box_item {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 2px;
    padding: 20px;

}



.big_saving_box_item h1 {
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    text-align: right;
}

.big_saving_box_item p {
   font-size: 12px;
  
}

.big_saving_box_item h2 {
    font-size: 12px;
    
}

.big_saving_box_item .Arrow {
    width: 12px;
    margin-bottom: 5px;
    margin-right: 37px;
    /* transform: translateX(-50px); */
}


.big_saving_item_btn {
    border: 2px solid black;
    font-size: 12px;
    padding: 5px 10px;
   
    outline: none;
    background-color:transparent;
    transition: 0.3s ease;
}


.big_saving_item_btn:hover {
    background-color: white;
    border: 2px solid transparent;
}





.big_saving:nth-child(1)  .big_saving_box:nth-child(1) .big_saving_box_item h1  {
    text-align: start;
    
}




.big_saving_box:nth-child(1) .big_saving_box_item .Arrow {
    width: 12px;
    margin-right:inherit ;
    margin-left: 40px;
   
}



    

/* --------------section  4 ------------------ */




.we_made {


    height: 50vh;

    
}




.we_made_item:nth-child(1) {

 
    padding-left: 40px;
    color: white;
    gap: 20px;
    width: 100%;


}

.we_made_item:nth-child(1) h1 {
    font-size: 20px;
    width: 90%;
    line-height: 30px;
    font-weight: bold;

}
.we_made_item:nth-child(1) p {
    font-size: 16px;
    width: 90%;
    font-family: 'Causten', Courier, monospace;
    font-weight: 200;


}

.we_made_item:nth-child(1) .we_made_btn {
    width: 40%;
    align-items: start;
    padding: 7px;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
    border: 2px solid transparent;
}

.we_made_item:nth-child(1) .we_made_btn:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: white;
}




/* --------  section 5 ------------ */


.cat_for_man {

   
    row-gap: 5px;
   


    
}

.cat_for_man_item {

    height: 250px;
    padding: 7px;
    
   
    
}





.for_man_content img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.2s ease-in;

}




.for_man_descript {
    /* background-color: #250909; */
    height: 30%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cat_for_man_descript_left h1{

 font-size: 12px;
 font-weight: bold;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 1; 
 overflow: hidden;
}

.cat_for_man_descript_left p{

 font-size: 10px;
 transition: 0.3s ease;
 
}

.cat_for_man_descript_right {
 transition: 0.3s ease;
}

.fa-arrow-right{
    font-size: 12px;
}

.for_man_content:hover {
    cursor: pointer;

}

.for_man_content:hover .fa-arrow-right {

    cursor: pointer;
    font-size: 14px;
    color:var(--color-indigo);
    animation: explore 1s infinite;
}

.for_man_content:hover .cat_for_man_descript_left p  {
    color:var(--color-indigo);
}





/* section 7 pub */


.brand_pub {
    background-color: #323232;
    height: 35vh;
    width: 100%;
    border-radius: 20px;
    gap: 10px;
    color: white;
}

.brand_pub h1 {
    font-size: 25px;
    font-weight: bolder;
}
.brand_pub p {
    font-size: 16px;
   
}

.brand_pub p span {
    color: var(--color-etoile);
}



.brand_pub .sport_icone {
   
    gap: 10px;
    width: 90%;
}

.brand_pub .sport_icone_item {
    background-color: white;
    flex: 1;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.brand_pub .sport_icone_item img {
    width: 100%;
}




/* section 8 LIMELIGHT */


.price_to_limelight {
    background-color: #d6d6d6;
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2px 0;
    
}

.price_to_limelight p {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 10px;
    font-family: Causten;

}






/* *section 9 Feedback  */


.feedback {
 
    gap: 22px;
    overflow-x:scroll ;
    
    
}

.feedback::-webkit-scrollbar {
    color: transparent;
    width: 1px;
    height: 1px;
    
 }
 
 .feedback::-webkit-scrollbar-track {
     background-color: transparent
    
 }
 
 .feedback::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    width: 5px;
    
 }
 


.feedback_item{

 padding: 20px;
 height: 35vh;
 flex-basis: 32%;
 border-radius: 20px;
 border: 2px solid rgba(153, 153, 153, 0.212);
}

.feedback_item .feed_top {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.feedback_item .feed_top img {
    width: 40px;
    height: 30px;
    object-fit: cover;
}




.feedback_item .feed_start {
    /* background-color: yellow; */
    height: 20px;
    width: 200px;
    display: flex;
    justify-content: end;
    gap: 5px;

}



.feed_start .fa-star {
    color: var(--color-etoile);
    font-size: 14px;
}

.feed_start .fa-star-half-stroke{
    color: var(--color-etoile);
    font-size: 14px;

}




.feedback_item .feed_content h1 {
 font-size: 18px;
 margin-bottom: 20px;
}


.feedback_item .feed_content P {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.658);

}






/* footer  home */







.footer_top_item ul{
    
 align-items: center;
 justify-content: center;
 padding: 0;
 gap: 10px;

}

.footer_top h1 {
   font-size: 16px;
   text-align: center;
}

.footer_top a{

    font-size: 12px;
 
    text-align: center;

}




.home_footer .footer_icone {
   gap: 20px;
    
}


.footer_icone .footer_icone_left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer_icone_left .footer_icone_item{
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    overflow: hidden;

}




.footer_icone_left .footer_icone_item img {
    width: 12px;
    height: 12px;
    transition: 0.3s ease;
}



.footer_icone .footer_icone_right {
    text-align: center;
    gap: 15px;

    width: 100%;
  
}

.footer_icone .footer_icone_right h1 {
    font-size:16px;
    font-weight: 800;
    margin-bottom: 25px;
  
}


.footer_icone_right .footer_download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.footer_download .download {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px 20px;
    border-radius: 10px;
}


.footer_download .download img {
    width: 20px;
}



.footer_download .download .download_descript p {
 font-size: 10px ;

}

.footer_download .download .download_descript h3 {
  font-size: 14px;

}




.home_footer .footer_detail {
 
    border-top:1px solid rgba(255, 255, 255, 0.247) ;
    border-bottom:1px solid rgba(255, 255, 255, 0.212) ;
}


.home_footer .footer_detail details{

    color: white;
}

.home_footer .footer_detail summary{
    color: white;
    font-size: 14px;

    
}


.custom-details summary::-webkit-details-marker {
    display: none;
  }
  .custom-details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
  }
  
 
  .custom-details summary::after {
    content: "▸"; 
    font-size: 20px;
  }
  
  
 

  details li {
    font-size: 12px;
  }


.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    align-items: center;
    font-size: 10px;

}







  
}